---
layout: gitcuka
title: Home
---

{% if site.posts.size > 0 %}
  {% for post in site.posts %}
    <article>
      <h2>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h2>

      <small>
        {{ post.date | date: "%d %B %Y" }}
      </small>

      <p>
        {{ post.excerpt | strip_html | truncate: 150 }}
      </p>

      <a href="{{ post.url | relative_url }}">Read more →</a>
    </article>
  {% endfor %}
{% else %}
  <p>Belum ada postingan.</p>
{% endif %}
