<aside class="sidebar-left" id="sidebar">
  <button class="sidebar-close" onclick="toggleMenu()">✕</button>
  <h3>Menu</h3>

  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/kebijakan-privasi' | relative_url }}">Kebijakan Privasi</a>
  <a href="{{ '/syarat-dan-ketentuan' | relative_url }}">Syarat dan Ketentuan</a>
  <a href="{{ '/disclaimer' | relative_url }}">Disclaimer</a>
  <a href="{{ '/tentang-kami' | relative_url }}">Tentang Kami</a>
  <a href="{{ '/hubungi-kami' | relative_url }}">Hubungi Kami</a>
</aside>
